body {
    margin: 0px;
    overflow: hidden;
}


#map {

    top: 0px;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    /* Centers items horizontally */
    align-items: center;
    /* Centers items vertically */
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}



/** 
TOP NAVIGATION BAR 
*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffff;
    overflow: hidden;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    height: 45px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0044ff;
    color: white;
}

/**
COORDINATES SIDENAV 
*/
#locate {
    display: flex;
    position: absolute;
    /* Positions the button over the container */
    z-index: 10;
    /* Ensures the button is above other content */
    /* Optional: Further styling for the button */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#coordinate-results {
    background-color: rgb(0, 0, 0);
    display: flex;
    position: absolute;
    /* Positions the button over the container */
    z-index: 5;
    /* Ensures the button is above other content */

    margin-top: 50px;
    left: 20;
    top: 20;
    width: 400px;
    height: auto;
    overflow-wrap: break-word;

    overflow-y: auto;
    /* scrollable */
    color: cornflowerblue;

    flex-direction: column;
    /* stack children vertically */
    padding: 10px;

    font-family: "Share Tech Mono", monospace;
    /* not woring atm */
    font-weight: 400;
    font-style: normal;
}


#coordinate-results p {
    margin: 5px;
    padding: 8px 10px;
    color: white;
    background: #222;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
}

/** 
MAIN PAGE 
*/

#enter-button {
    display: flex;
    position: absolute;
    /* Positions the button over the container */
    top: 50%;
    /* Places the top edge of the button at the vertical center */
    left: 50%;
    /* Places the left edge of the button at the horizontal center */
    transform: translate(-50%, -50%);
    /* Centers the button precisely */
    z-index: 10;
    /* Ensures the button is above other content */
    /* Optional: Further styling for the button */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}